body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-image: url("/assets/images/png/fondo.png");
  background-position: -5.5rem -5.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  width: 100%;
  height: 100vh;
}

.layout__container {
  display: flex;
  grid-row: 2 / 12;
  grid-column: 2 / 12;
  position: relative;
  max-width: 90em;
  max-height: 44em;
  border-radius: 3em;
  box-shadow: 0px 0px 1em 1px rgba(0, 0, 0, 0.18);
  background-color: var(--color-secondary);
}

.container__aside {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  position: relative;
  width: 30%;
  padding: 4em 0em;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  background-color: var(--color-secondary);
  font-family: var(--font-poppins);
  color: var(--color-main);
  overflow: auto;
}

.aside__container-image {
  position: relative;
  z-index: 10;
  width: 12em;
  height: 12em;
}

.aside__container-image::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 9%;
  z-index: -10;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: repeating-radial-gradient(
    circle at center center,
    var(--color-main),
    var(--color-main) 1px,
    transparent 1px,
    transparent 100%
  );
  background-size: 0.6em 0.6em;
  opacity: 0.5;
}

.aside__image {
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-main);
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

.aside__info-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2em 0em;
}

.info-user__name {
  font-size: 2.3rem;
  font-weight: 500;
}

.info-user__job-title {
  font-size: 1.2rem;
  font-weight: lighter;
}

.info-user__list {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.info-user__icon {
  padding: 0.5em;
  border-radius: 50%;
  opacity: 0.9;
  font-size: 1.2rem;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.info-user__icon:hover {
  opacity: 1;
  background-color: rgba(246, 246, 246, 0.3);
}

.aside__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 3 / 4;
}

.footer__btn {
  padding: 1em 2em;
  margin-top: 1.5em;
  border: 1px solid var(--color-main);
  border-radius: 1em;
  font-size: 1.2rem;
  font-weight: lighter;
  color: var(--color-main);
  background-color: var(--color-secondary);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__btn:hover {
  color: var(--color-secondary);
  background-color: var(--color-main);
}

.footer__copy {
  position: relative;
  bottom: -5em;
}

/* Estilos del contenido principal */
.container__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6em;
  width: 70%;
  border-radius: 3em;
  background-color: var(--color-main);
  font-family: var(--font-poppins);
}

/* Contenido del NavBar */
.container__menu {
  position: absolute;
  right: -5em;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 3.5em;
  padding: 1em 0em;
  border-radius: 3em;
  box-shadow: 0px 0px 1em 1px rgba(0, 0, 0, 0.18);
  background-color: var(--color-main);
  position: relative;
}

.menu__option {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2em;
  cursor: pointer;
}

.menu__link {
  display: flex;
  align-items: center;
}

.menu__icon {
  font-size: 1.5rem;
  color: var(--color-icons);
  transition: color 0.3s ease-in-out;
}

.menu__icon--active {
  color: var(--color-secondary);
}

.menu__option:hover .menu__icon {
  color: var(--color-secondary);
}

.menu__overlay {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2em;
  padding: 0.3em 0.6em;
  color: var(--color-main);
  background-color: var(--color-secondary);
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out,
    right 0.3s ease-in-out;
}

.menu__option:hover .menu__overlay {
  width: auto;
  right: 100%;
  opacity: 1;
}

@media screen and (width >= 1728px) {
  body {
    justify-items: center;
  }
  .layout__container {
    min-width: 90em;
  }
}

@media screen and (height >= 845px) {
  body {
    align-items: center;
  }
}
